<% include partials/header.ejs %>

    <!-- MAIN CONTENT -->
    <main class="container">
        <!-- Start Details -->
        <div class="container-fluid">
            <h1><span>Home Page</span></h1>
            <p>I am <a href="#" title="Brighto Paul">Brighto Paul</a> living in Barrie,ON,Canada. I am a Computer Programming
                student at Georgian College. I have a great passion of Programming and Web development. I possess skills
                and knowledge in PHP, HTML/HTML5, CSS/3, Java, C++, SQL, Arduino, Mainframe, Troubleshooting etc.</p>
            <!-- Personal Details -->
            <ul class="">
                <li><span>Name</span> <a href="#" title="Problem solving,then coding">Brighto Paul</a></li>
                <li><span>Birthday</span> May 06, 1996</li>
                <li><span>Address</span> 253 Johnson Street Barrie, Canada</li>
                <li><span>Email</span> <a href="mailto:p1brighto@gmail.com" title="Get in touch">p1brighto@gmail.com</a></li>
                <li><span>Phone</span> +1 705-970-4096</li>
            </ul>
            <!-- End Details -->
        </div>
    </main>

    <% include partials/footer.ejs %>