<!DOCTYPE html>
<html>

<head>
    <!--Add Favicon -->
	<link rel="icon" type="image/gif" href="public/images/favicon.gif">
    
    <!-- Meta Info -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        <%= title %>
    </title>
    <!-- CSS Section -->
    <link rel="stylesheet" href="public/Scripts/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="public/Scripts/lib/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="public/Scripts/lib/font-awesome/css/font-awesome.min.css">
    <link rel='stylesheet' href="public/stylesheets/style.css">
</head>

<body>
    <h1>Home Page</h1>
    <h2><a href="about">About Page</a></h2>
    <h2><a href="project">Project Page</a></h2>
    <h2><a href="service">Service Page</a></h2>
    <h2><a href="contact">Contact Page</a></h2>
    <p>Lorem ipsum dolor sit amet, placerat metus, tempus vel in integer felis duis sapien, lacinia sit suspendisse lacus. Accumsan
        commodi nec nisl nibh tempus, in potenti nec, consequat in sed, massa vivamus ligula lacinia blandit proin. Arcu
        eros vitae felis eget urna, venenatis mauris est felis, pede ac ante nam vestibulum libero. In sed sit rhoncus lorem
        magna. In purus neque est, diam nulla, vivamus odio rutrum hymenaeos, vehicula a. Mauris et a, at rutrum egestas
        dolor, risus diam aliquet urna odio velit, magna ultricies, dictum laoreet laborum eos.</p>
</body>

<!-- Footer -->
<footer class="footer">
    <div class="copyright">© 2015-All rights reserved by <strong><a href="#" title="Brighto paul">p1brighto</a></strong></div>
</footer>

</html>