<% include partials/header.ejs %>

 <!-- MAIN CONTENT -->
    <main class="container">
        <h1>Project Page</h1>
        <p>Lorem ipsum dolor sit amet, placerat metus, tempus vel in integer felis duis sapien, lacinia sit suspendisse lacus. Accumsan commodi nec nisl nibh tempus, in potenti nec, consequat in sed, massa vivamus ligula lacinia blandit proin. Arcu eros vitae felis eget urna, venenatis mauris est felis, pede ac ante nam vestibulum libero. In sed sit rhoncus lorem magna. In purus neque est, diam nulla, vivamus odio rutrum hymenaeos, vehicula a. Mauris et a, at rutrum egestas dolor, risus diam aliquet urna odio velit, magna ultricies, dictum laoreet laborum eos.</p>
    </main>
    
<% include partials/footer.ejs %>
