<% include partials/header.ejs %>

    <!-- Service Tab -->
			<section id="service">
				<h2><span>My Services</span></h2>
				<p>My Service include: </p>
				<!-- Portfolio Filter -->
				<ul id="service-filter">
				   <li><a href="#" >PHP/HTML</a></li>
                   <li><a href="#" >Node JS</a></li>
				   <li><a href="#" >Java</a></li>
				   <li><a href="#" >Arduino</a></li>
				   <li><a href="#" >Video-editing</a></li>
				</ul>
				<!-- End Portfolio Filter -->
			</section>
    <!-- End Service -->
    
<% include partials/footer.ejs %>