<% include partials/header.ejs %>

    <!-- Service Tab -->
			<section id="service">
				<h2><span>My Services</span></h2>
				<p>I am currently looking for businesses who would like to buid applications based on the following programming languages.</p>
				<!-- Portfolio Filter -->
				<ul id="service-filter">
				   <li><a href="contact#contact" >PHP/HTML</a></li>
                   <li><a href="contact#contact" >Node JS</a></li>
				   <li><a href="contact#contact" >Java</a></li>
				   <li><a href="contact#contact" >Arduino</a></li>
				   <li><a href="contact#contact" >Video-editing</a></li>
				</ul>
				<!-- End Portfolio Filter -->
			</section>
    <!-- End Service -->
    
<% include partials/footer.ejs %>